#IDE
.idea/
.vscode/

#Virtual Environment
venv/

# Dist folder
dist/

# Build folder
build/

# PyInstaller
*.spec

# PyInstaller cache
*.spec

#Python specific folders
__pycache__/

#wkhtmltopdf
bin/

#macOS specific files
.DS_Store

#dmg file
*.dmg

#Other
.eggs/
*.zip
